http://dbpedia.org/resource/Parmenides
http://dbpedia.org/resource/Empedocles
http://dbpedia.org/resource/Democritus
http://dbpedia.org/resource/Xenophanes
http://dbpedia.org/resource/Anaxagoras
http://dbpedia.org/resource/Heraclitus
